<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeStyle Mens | Register</title>
</head>
<body>
    <header>
        <h1>LifeStyle Mens</h1>
        <a href="#">Home</a>
        <h2>Login</h2>
    </header>
        
    <form>
        <p>Name : <input type="text" name="name" required></p>
        <p>Number : <input type="number" name="phone" required></p>
        <p>E-mail : <input type="email" name="email" required></p>
        <br>
        <p>Username : <input type="text" name="username" required></p>
        <p>Password : <input type="password" name="password" required></p>
        <p>Confirm Password : <input type="password" name="password" required></p>

        <input type="submit" value="Register">
        <hr>
        <p><a href="login.html">Login</a></p>
    </form>
</body>
</html>