<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeStyle Mens | Forget Password</title>
</head>
<body>
    <header>
        <h1>LifeStyle Mens</h1>
        <a href="#">Home</a>
        <h2>Forget Password</h2>
    </header>
        
    <form>
        <p>Username : <input type="text" name="username" required></p>
        <p>E-mail : <input type="email" name="email" required></p>
        <p>Number : <input type="number" name="pone" required></p>

        <input type="submit" value="Next">
        <hr>
        <p><a href="login.html">Login</a></p>
        <p><a href="register.html">Register</a></p>
    </form>
</body>
</html>