{% extends 'users/layout.html' %}
{% load static %}

{% block nav %}
{% endblock %}
{% block body %}
<div style="display: flex;">
    <form action="{% url 'home' %}" class="left-box" method="post">
        {% csrf_token %}
        <h5>Shop by Fabric</h5>

        <input type="hidden" name="action" value="fabric">
        <ul style="font-size: 12px;">
            {% for fabric in fabrics %}


            <li style="list-style: none;">
                <label for="{{fabric}}">
                    {% if fabric.id in fab_ses %}
                    <input type="checkbox" name="fabric[]" id="{{fabric}}" value="{{fabric.id}}"
                        style="display: block-inline;" checked>
                    {% else %}
                    <input type="checkbox" name="fabric[]" id="{{fabric}}" value="{{fabric.id}}"
                        style="display: block-inline;">
                    {% endif %}
                    {{fabric}}

                </label>

            </li>
            {% endfor %}

        </ul>
        <h5>Shop by Design</h5>
        <ul style="font-size: 12px;">
            {% for design in Design %}

            <li style="list-style: none;">
                <label for="{{design}}">
                    {% if design.id in des_ses %}
                    <input type="checkbox" name="design[]" id="{{design}}" value="{{design.id}}"
                        style="display: block-inline;" checked>
                    {% else %}
                    <input type="checkbox" name="design[]" id="{{design}}" value="{{design.id}}"
                        style="display: block-inline;">
                    {% endif %}

                    {{design}}

                </label>
            </li>
            {% endfor %}

        </ul>

        <h5>Shop by Color</h5>
        <ul style="font-size: 12px;">
            {% for color in colors %}
            <li style="list-style: none;">


                <label for="{{color}}">
                    {% if color.id in col_ses %}
                    <input type="checkbox" name="color[]" id="{{color}}" value="{{color.id}}"
                        style="display: block-inline;" checked>
                    {% else %}
                    <input type="checkbox" name="color[]" id="{{color}}" value="{{color.id}}"
                        style="display: block-inline;">
                    {% endif %}

                    {{color}}

                </label>
            </li>
            {% endfor %}

        </ul>

        <h5>Shop by Occasion</h5>
        <ul style="font-size: 12px;">
            {% for occ in Occasion %}
            <li style="list-style: none;">
                <label for="{{occ}}">
                    {% if occ.id in occ_ses %}
                    <input type="checkbox" name="occ[]" id="{{occ}}" value="{{occ.id}}" style="display: block-inline;"
                        checked>
                    {% else %}
                    <input type="checkbox" name="occ[]" id="{{occ}}" value="{{occ.id}}" style="display: block-inline;">
                    {% endif %}

                    {{occ}}

                </label>
            </li>
            {% endfor %}
            <button type="submit">Apply</button>

        </ul>



    </form>
    <div class="right-box">

        {% for kurta in Kurtas %}

        <a href="{% url 'product' kurta_id=kurta.id %}">
            <div class="product">
                <img src="{{ kurta.main_image.url }}" alt="Kurta1">
        
                <h2>{{kurta.name}}</h2>
                <p>Price: {{kurta.price}}</p>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
<script>
    function toggleHeart(button) {
        button.classList.toggle('active');
    }
    document.addEventListener("DOMContentLoaded", function() {
    const images = document.querySelectorAll(".image");

    let currentIndex = 0;
    images[currentIndex].classList.add("active");

    setInterval(() => {
        images[currentIndex].classList.remove("active");
        currentIndex = (currentIndex + 1) % images.length;
        images[currentIndex].classList.add("active");
    }, 3000); // Change image every 3 seconds (adjust as needed)
});
</script>
{% endblock %} 
