{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lifestyles Mens</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">   
        
    </head>
    
    <header>
        <h1><img src="{%static 'users/logo.png'%}" width="150px">Lifestyle Men's</h1>
        <h4>Discover the latest trends in Kurtas</h4>
        
    <nav>
        {% block nav %}

        {% endblock %}
    </nav>
</header>
<body>
    {% block body %}
    
    {% endblock %}
</body>
<footer>
    <a href="about.html">About Us       Contact Us</a>
    <p>© 2024 Fashion Ecommerce. All rights reserved.</p>
</footer>
</html>