{% extends "users/layout.html" %}
{% load static %}
{% block body %}
<div>
    <div class="product-info">
        <img class="image-container" src="{% static 'users/kurta1.jpg' %}" alt="Product Image" >
        <div class="description-container">
            <h1>Kurta 1</h1>
            <select id="size" name="size">
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
                <option value="xxl">XXL</option>
            </select>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1">
            <p class="description">Elegant kurta with intricate design patterns. Perfect for both casual and formal occasions.</p>
            <p>Price: $XX.XX</p>
            <button>Add to Cart</button>
            <button>Buy Now</button>
        </div>
    </div>
</div>
{% endblock %}