{% extends "users/layout.html" %}
{% block nav %}
    <a href="{% url 'home' %}">Home</a>
{% endblock %}
{% block body %}
    

    <form action="{% url 'register' %}">
        {% csrf_token %}
        <p>Name :<input type="text" name = "First Name" placeholder="first name"><input type="text" name = "Last Name" placeholder="last name"></p>
        <p>Number : <input type="number" name="phone" required></p>
        <p>E-mail : <input type="email" name="email" required></p>
        <br>
        <p>Username : <input type="text" name="username" required></p>
        <p>Password : <input type="password" name="password" required></p>
        <p>Confirm Password : <input type="password" name="password" required></p>

        <input type="submit" value="Register">
        <hr>
        <p><a href="{% url 'login' %}">Login</a></p>
    </form>
    
    
{% endblock %}