{% extends "users/layout.html" %}
{% load static %}

{% block body %}
    {% for cart_item in cartView %}
    <a href="{% url 'product' kurta_id=cart_item.kurta.id %}">
        <div class="CartBox">
            <img src="{{ cart_item.kurta.main_image.url }}" alt="Kurta1">
            <div class="CartContent">
                <h5>Name:{{ cart_item.kurta.name }}</h5>
                <h5>Price:{{ cart_item.kurta.price }}</h5>
                <h5>Quantity:{{ cart_item.quantity }}</h5>
                <form action="{% url 'Cart' username=request.user.username %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="remove" value="remove">
                    <input type="hidden" name="kurta_id" value="{{cart_item.kurta.id}}">
                    <button class="btn" >Remove</button>
                </form>
            </div>
        </div>
    </a>
    {% endfor %}
    {% if cartView %}
        <a href="{% url 'BuyNow' username=request.user.username %}">

            <button name="Buy-Now" value="BuyNow" class="btn">Buy Now</button>
        </a>
    {% endif %}
        
{% endblock %}